.checkout {
    display: grid;
    grid-template-areas:
    "checkout-left checkout-right";
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
}



.checkout-left {
    grid-area: checkout-left;
    display: flex;
    flex-direction: column;
}

.checkout-right {
    grid-area: checkout-right;
}

.checkout-ad {
    object-fit: contain;
    width: 100%;
}