.home-image {
    width: 100%;
    height: 400px;
    z-index: -1;
    margin-bottom: -40px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) )

}

.home-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    padding: 7px 15px;
    column-gap: 15px;
    z-index: 1;
}



